.app {
  padding: 10%;
  max-width: 1000px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: content-box;

  .buttons > .button {
    height: 30px;
    width: 100px;
  }
}

.darkModeBtn {
  border: 0;
  background: transparent;
  font-size: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.lightModeBtn {
  border: 0;
  background: transparent;
  font-size: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFA500;

  &:focus {
    outline: none;
  }
}
